.topnav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.topnav a {
  color: blue;
  border-radius: 16px;
  font-size: 24px;
  margin: 0 0 32px 0;
  padding: 16px;
}

.topnav a:hover {
  color: green;
  background-color: rgba(59, 130, 246, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
